In [1]:
import pandas as pd

In [3]:
import json

In [5]:
data = pd.read_json('D:\SpringBoard_Home\Mini Project 1(Json)\data_wrangling_json\data\world_bank_projects.json')

In [7]:
data.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

In [48]:
country = data.groupby('countryname',as_index =False)[['project_name']].count()

In [49]:

country.sort_values(by = "project_name",ascending =False)[:10]

                         countryname  project_name
39        People's Republic of China            19
64             Republic of Indonesia            19
107    Socialist Republic of Vietnam            17
63                 Republic of India            16
97                 Republic of Yemen            13
38   People's Republic of Bangladesh            12
34                             Nepal            12
25                Kingdom of Morocco            12
76            Republic of Mozambique            11
0                             Africa            11

In [153]:
Data_For_Normalisation = json.load(open('D:\SpringBoard_Home\Mini Project 1(Json)\data_wrangling_json\data\world_bank_projects.json'))

In [242]:

from pandas.io.json import json_normalize
Project_themes = json_normalize(Data_For_Normalisation,record_path = 'mjtheme_namecode')
# converting "code" as int before setting it to index
Project_themes['code'] = Project_themes['code'].map(lambda x: int(x))
Project_themes = Project_themes.set_index('code')
Project_themes

                                          name
code
8                            Human development
11
1                          Economic management
6        Social protection and risk management
5                        Trade and integration
...                                        ...
10                           Rural development
9                            Urban development
8                            Human development
5                        Trade and integration
4     Financial and private sector development

[1499 rows x 1 columns]

In [246]:
#Finding Unique Themes 

import numpy

Unique_name = numpy.delete(Project_themes.name.sort_index().unique(),[0])

In [247]:
Unique_name

array(['Economic management', 'Public sector governance', 'Rule of law',
       'Financial and private sector development',
       'Trade and integration', 'Social protection and risk management',
       'Social dev/gender/inclusion', 'Human development',
       'Urban development', 'Rural development',
       'Environment and natural resources management'], dtype=object)

In [249]:
# Making dictionary of unique codes and theme names
Unique_dict = {}

for index,element in enumerate(Unique_name,start = 1):
    Unique_dict[index]= element

In [250]:
Unique_dict

{1: 'Economic management',
 2: 'Public sector governance',
 3: 'Rule of law',
 4: 'Financial and private sector development',
 5: 'Trade and integration',
 6: 'Social protection and risk management',
 7: 'Social dev/gender/inclusion',
 8: 'Human development',
 9: 'Urban development',
 10: 'Rural development',
 11: 'Environment and natural resources management'}

In [312]:
# Filling blank vlues with correct names


def replace_name(df,code_dict):
    
    for key,val in code_dict.items():
        df_temp = df[(df.code==key) & (df.name=='')]     
        df.loc[df_temp.index.tolist(), 'name']=val
   
    return df


Project_themes = replace_name(Project_themes,Unique_dict)
Project_themes[Project_themes.name =='']

Empty DataFrame
Columns: [code, level_0, index, name]
Index: []